body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: bisque;
  height: 100vh;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.navBarStyle {
  background-color: brown;

}
h1,h3 {
  margin: 25px 0;
}

.card {
  background-color: rgb(219, 122, 10) ;
  margin: 15px 0;
}
button.homeButton {
  margin: 10px 0;
  background: rosybrown;
  border-radius: 10px;
  padding: 5px;
}
.btn {
  background: rosybrown;
  color: #ffffff;
}